/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
h2 h3 h4 h5 {
    font-size: 1em;
    text-transform:uppercase;
    font-family:sans-serif;
    }
img {
    max-width: 100%;
    }
.form .search {
    position: absolute;
    top:0;
    right: 2em;
    z-index: 2;
}
.top-header .top-nav {
    position: absolute;
    width: 100%;
    max-height: 50px;
    top: 0;
    left: 0;
    background-color: #000;
    }
.top-header .top-nav ul {
    display: inline-flex;
    list-style-type: none;
}
.top-header .top-nav li {
    padding: 0 15px 0 15px;   
    margin-top: 0;
}
.top-header .top-nav li a {
    color: #7EA5CB;
    font-size:10px;
    font-weight:bolder;
    text-decoration: none;
}
.top-header .apply {
    position: absolute;
    width: 100%;
    max-height: 40px;
    top: 0;
    left: 0;
    background-color: #000;
    }
.top-header .apply ul {
    position: absolute;
    top:0;
    right:10em;
    list-style-type: none;
}
.top-header .apply li {
    margin: 0px;
}
.top-header .apply li a {
    color: #F68E1E;
    font-weight: bolder;
    font-size:14px;
    padding: 10px;
    text-decoration: none;
}
.page-header {
    position: relative;
    width: 100%;
    max-height: 125px;
    left: 0;
    background: #fff;
    margin: 0;
    z-index: 1;
}
.page-header img {
    max-height: 100px;
    margin: 20px;
}
.page-header .main-nav {
    position: absolute;
    right: 1em;
    top: 1.5em;
    color: #fff;
    }
.page-header .main-nav ul {
    display: flex;
    list-style-type: none;
    padding: 0px 15px;
}
.page-header .main-nav li {
    margin: 10px;
}
.page-header .main-nav li:hover {
    background-color: lightgrey;
}
.page-header .main-nav li a {
    display: block;
    float:right;
    color: darkblue;
    font-size:12px;
    padding: 10px;
    text-decoration: none;
}
body {
    padding-top: 3.25em;
    font-family:sans-serif;
    }

.jumbotron {
    position: relative;
    padding: 0;
    }
.jumbotron-bg {
    position: relative;
    z-index: -10;
    display: block;
    width: 100%;
    max-height: 500px;
    }
.jumbotron-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align:center;
    line-height: 1;
    }
.page-section  {
    background-color: #2868A4;
    height:250px;
}
.page-section-degree {
    display:inline-grid;
    width: 32%;
    height: 180px;
    margin-top:2em;
    line-height:5em;
    z-index:-30;
    border-left: 1px solid rgba(255,255,255,.25);
    }
.page-section-degree h2 {
    position: relative;
    top:1em;
    left: 0;
    right: 0;
    margin: auto;
    color:#fff;
}
.page-section-degree p {
    position: relative;
    left:0;
    right:0;
    margin:auto;
    width: 20em;
    text-align:center;
    font-size: 14px;
    line-height: 1.5em;
    color:#fff;
}
.page-section-degree img {
    background-image: url("degree.png");
    position:relative;
    top: 2em;
    left:0;
    right:0;
    margin:auto;
}
.page-section-degree :hover {
    text-decoration-line: underline;
}
.page-section-schedule {
    display:inline-grid;
    width: 32%;
    height: 180px;
    line-height:5em;
    z-index:-30;
    border-left: 1px solid rgba(255,255,255,.25);
    }
.page-section-schedule h2 {
    position: relative;
    top:1em;
    left: 0;
    right: 0;
    margin: auto;
    color:#fff;
}
.page-section-schedule p {
    position: relative;
    left:0;
    right:0;
    margin:auto;
    width: 20em;
    text-align:center;
    font-size: 14px;
    line-height: 1.5em;
    color: #fff;
}
.page-section-schedule img {
    background-image: url("schedule.png");
    position:relative;
    top: 2em;
    left:0;
    right:0;
    margin:auto;
}
.page-section-schedule :hover {
    text-decoration-line: underline;
    }
.page-section-apply {
    display:inline-grid;
    width: 32%;
    height: 180px;
    line-height:5em;
    z-index:-30;
    border-left: 1px solid rgba(255,255,255,.25);
    }
.page-section-apply h2 {
    position: relative;
    top:1em;
    left: 0;
    right: 0;
    margin: auto;
    color:#fff;
}
.page-section-apply p {
    position: relative;
    left:0;
    right:0;
    margin:auto;
    width: 20em;
    text-align:center;
    font-size: 14px;
    line-height: 1.5em;
    color:#fff;
}
.page-section-apply img {
    background-image: url("apply.png");
    position:relative;
    top: 2em;
    left:0;
    right:0;
    margin:auto;
}
.page-section-apply :hover {
    text-decoration-line: underline;
    }
.degree-bg  {
    position: absolute;
    left: 3em;
    top: 100em;
    z-index: 200;
}
.mid-links {
    background-color:#221F33;
    height:120px;
}
.grid-container {
    display: grid;
    width:85%;
    height:115px;
    margin:auto;
    grid-template-columns: auto auto auto;
}
.grid-item {
    border: 1px solid rgba(255,255,255,.25);
    font-size: 30px;
    text-align: left;
    height:60px;
}
.grid-item h2 {
    color:#EAA241;
    position: relative;
    left:2em;
    top: 20%;
    font-size: 14px;
}
.grid-item h2:hover {
    text-decoration-line: underline;
}
.highlights {
    background-color:#EEEEEE;
    position:relative;
    top:0;
    border-bottom: .25px solid grey;
}
.highlights h2 {
    position:relative;
    top:1.5em;
    left:3em;
    color: #555555;
    font-size: 30px;
    font-weight:bold;
    line-height:3em;
}
.princeton {
    border-bottom: .25px solid grey;
}
.princeton img {
    position:relative;
    top:2em;
    left: 5.25em;
    margin-right:125px;
    max-width: 375px;
}
.princeton h3 {
    display:inline-block;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 25px;
    font-weight:bolder;
}
.princeton p {
    position:relative;
    top:0;
    left:500px;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 15px;
}
.ccp {
    border-bottom: .25px solid grey;
}
.ccp img {
    position:relative;
    top:2em;
    left: 5.25em;
    margin-right:125px;
    max-width: 375px;
}
.ccp h3 {
    display:inline-block;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 25px;
    font-weight:bolder;
}
.ccp p {
    position:relative;
    top:0;
    left:500px;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 15px;
}
.statement img {
    position:relative;
    top:2em;
    left: 5.25em;
    margin-right:125px;
    max-width: 375px;
}
.statement h3 {
    display:inline-block;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 25px;
    font-weight:bolder;
}
.statement p {
    position:relative;
    top:0;
    left:500px;
    width:550px;
    line-height:1em;
    color:#555555;
    font-size: 15px;
}
.announcements  {
    position:relative;
    background-color:#fff;
}
.announcements:after {
    content: "";
    display: table;
    clear: both;
}
.column {
    top: 0;
    background-color:#fff;
    z-index:-100;
    float: left;
    width: 30%;
    margin-left:2.25em;
}
.column h2 {
    float:left;
    top:1em;
    color:#555555;
}
.column h3 {
    float:left;
    color:#2E6399;
}
.column p {
    float:left;
    top:1em;
    color:#555555;
    font-size:14px;
}
.column button {
    text-decoration-line: underline;
}
.row {
    top:0;
    background-color:#fff;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.top-footer {
    background-color:#222222;
    position:relative;
    top:0px;
    height:600px;
}
.footer-column {
    top: 0;
    z-index:-100;
    float: left;
    width: 30%;
    margin-left:2.25em;
}
.footer-column h2 {
    float:left;
    top:1em;
    color:#555555;
}
.footer-column h3 {
    float:left;
    color:#2E6399;
}
.footer-column p {
    float:left;
    top:1em;
    color:#555555;
    font-size:14px;
}
.footer-column button {
    text-decoration-line: underline;
}
.footer-row {
    top:0;
    background-color:#222222;
}
.footer-row:after {
    content: "";
    display: table;
    clear: both;
}
.page-footer {
    text-align: center;
    background: #000;
    color: #555555;
    font-size: 10px;
    padding: 1em;
    text-decoration: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}